<%# <h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p> %>

<h1>Login</h1>

<%= form_with(url: login_path, method: :post) do |form| %>
  <%= form.label :session, 'Email' %>
  <%= form.email_field :'session[email]' %>

  <%= form.label :session, 'Password' %>
  <%= form.password_field :'session[password]' %>

  <%= form.submit 'Login' %>
<% end %>
