<!-- app/views/comments/index.html.erb -->

<h2><%= @post.title %></h2>
<p><%= @post.content %></p>

<% @comments.each do |comment| %>

    <p><strong><%= comment.user.name %>:</strong> <%= comment.comment %></p>
    <%= render partial: 'comments/reply_form', locals: { post: @post, comment: comment } %>
    <% comment.replies.each do |reply| %>
      <p><strong><%= reply.user.name %>:</strong> <%= reply.comment %></p>
    <% end %>
<% end %>

<%= render partial: 'comments/comment_form', locals: { post: @post, comment: @comment } %>
