
<!DOCTYPE html>
<html>
<head>
  <title>SocialPulse</title> 
  <style>
    <%= stylesheet_link_tag 'session/home'%>
  </style>
  <style>
  .comment-list{
    display: none;
  }
  .mystyle{
      display: block;
    }
    /* .overlay{
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.3);
    } */
    .reply-list{
      display: none;
    }
    .reply-style{
      display: block;
      
    }

  </style>  
   <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
  <div class="main">
    <header class="main-header">
      <p class="app-name"><strong>social-pulse</strong></p>
      <div class="header_icons">
        <img style="width: 5vh; height:5vh" src="<%= asset_path('notification_icon.png') %>" alt="Notifications">
        <img style="width: 5vh; height:5vh" src="<%= asset_path('message_icon')%>" alt="Messages">
      </div>
    </header> 
    <div class="post-container">
       <%= link_to 'create_post', new_post_path%>
       
        <% @posts.each do |post| %>
          <div class="posts">
            <div class="user-name-section">
              <strong><%= post.user.name %></strong>
              <h3><%= post.title %></h3>
              <p><%= post.content %></p>
            </div>
            <div class="post-content-section">
              
              <% if post.image.attached? %>
                <%= image_tag post.image, style: "height: 80vh; width: 39vw;"%>
              <% end %>
              <% if post.video.attached? %>
                <%= video_tag post.video, style: "height: 80vh; width: 40vw;" %>
              <% end %>
              
              <!-- Display other post details -->
            </div>
            <div class="action-buttons-section">
             <!--<%= link_to new_post_path do %>
                <img style="width: 5vh; height:5vh" src="<%= asset_path('create_icon.png') %>" alt="Create">
              <% end %>-->
              <img class="icon" src="<%= asset_path('like_button.png') %>" alt="Notifications">

                <%= image_tag(asset_path('comment_button.png'),onclick: "myFunction()", class: 'icon', alt: 'comments') %>
             
              
              <img class="icon" src="<%= asset_path('share_button.png') %>" alt="Notifications">
            </div>
            <div id='comment' class="comment-list">
            <div class="overlay"></div>
              <% post.comments.each do |comment| %>

                <p><strong><%= comment.user.name %>:</strong> <%= comment.comment %></p>
                
                <button class="showFormBtn" data-target="replyForm<%= comment.id %>">Reply</button>
                <div class="replyFormContainer" id="replyForm<%= comment.id %>" style="display: none;">
                  <%= render partial: 'comments/reply_form', locals: { post: post, comment: comment } %>
                </div>
                <button onclick="replyFunction()">show all replies</button>
                
                <% comment.replies.each do |reply| %>
                  <p><strong><%= reply.user.name %>:</strong> <%= reply.comment %></p>
                  <button class="showFormBtn" data-target="replyForm<%= reply.id %>">Reply</button>
                <div class="replyFormContainer" id="replyForm<%= reply.id %>" style="display: none;">
                  <%= render partial: 'comments/reply_form', locals: { post: post, comment: comment } %>
                </div>
                
                
                <% end %>
              <% end %>
              


              <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
              <script>
                $(document).ready(function() {
                  $('.showFormBtn').click(function() {
                    var targetId = $(this).data('target');
                    $('#' + targetId).toggle();
                  });
                });
              </script>
            </div>
          </div>
        <% end %>
        
<script>
function myFunction() {
  var element = document.getElementById("comment");
  element.classList.toggle("mystyle");
}

function replyFunction(){
  var element = document.getElementById('reply');
  element.classList.toggle('reply-style');
}
</script> 
</body>
</html>


