
<!--<%= form_with(url: login_path, method: :post) do |form| %>
  <%= form.label :session, 'Email' %>
  <%= form.email_field :'session[email]' %>

  <%= form.label :session, 'Password' %>
  <%= form.password_field :'session[password]' %>

  <%= form.submit 'Login' %>
<% end %>-->
    <style>
      body {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        margin: 0;
      }
      .parent-box{
        background: #00000038;
    border: 1px solid gray;
    padding: 20px 30px;
    border-radius: 15px;
      }
      .parent-box input{
        margin-bottom: 10px !important;
      }
      .parent-box input:focus{
        outline: none;
      }
      .parent-box input::placeholder{
        color: red !important;
      }
      .parent-box label{
        margin-bottom: 0px !important;
      }
      .content {
        text-align: center;
        margin-top: 10px;
      }
      form {
        margin-top: 30px;
      }

      input[name="user[name]"],
      input[name="user[phone_number]"],
      input[name="session[name]"],
      input[name="session[phone_number]"] {
        padding: 10px;
        border-radius: 8px;
        font-size: 16px;
        border: none;
      }
    </style>
  
    <div class="parent-box">
      <div class="content-social">
      <h1>Welcome to Social-pulse</h1>
      <p>Be ready to run the world on your fingers</p>
    </div>
    <!--<% if @user.errors.full_messages.any? %>
        <% @user.errors.full_messages.each do |error_message| %>
         <p><%= error_message %> </p>
        <% end %>
      <% end %>-->
    
    <div class="form">
      <%= form_with(model: @user, local: true) do |form| %>
      
      
        <%= form.label :name %>
        <%= form.text_field :name %>

        <%= form.label :email %>
        <%= form.email_field :email %>

        <%= form.label :password %>
        <%= form.password_field :password %>

        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation %>

        <%= form.label :phone_number %>
        <%= form.text_field :phone_number %>
        
        <%= form.submit %>
      <% end %>
    </div>
    <%# </div> %>
    <!--<% if @user.errors.full_messages.any? %>
        <% @user.errors.full_messages.each do |error_message| %>
          <p style="color: red;"><%= error_message %> </p>
        <% end %>
    <% end %>-->
    </div>