<!-- Display Post Content -->

<!-- Display Comments -->
<% @comments.each do |comment| %>
  <div class="comment">
    <p><strong><%= comment.user.name %></strong>: <%= comment.comment %></p>
    <%= render partial: 'comments/reply_form', locals: { post: @post, comment: comment } %>
    <% comment.replies.each do |reply| %>
      <p><strong><%= reply.user.name %>:</strong> <%= reply.comment %></p>
    <% end %>
  </div>
<% end %>

<%= render 'comments/comment_form', commentable: @post %>