<!DOCTYPE html>
<html>
  <head>
    <title>SocialPulseApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %><br>
    
    <!--<%= link_to 'Sign Up', new_user_path %>-->
    <%= render 'shared/messages' %>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  </body>
</html>
